In [1]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'C:/Users/abdel/Downloads/bikeshare-2/chicago.csv',
              'new york city': 'C:/Users/abdel/Downloads/bikeshare-2/new_york_city.csv',
              'washington': 'C:/Users/abdel/Downloads/bikeshare-2/washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs:
    while True:
        city = input("please Enter City name ex:chicago, new york city, washington: ")
        if city.lower() not in ('chicago','new york city','washington'):
            print("please enter vaild city")
        else:
            break
            
    # get user input for month (all, january, february, ... , june)
    while True:
        month = input("please Choose A day ex:all,january,february: ")
        if month.lower() not in ('all','january', 'february', 'march', 'april', 'may', 'june'):
            print("please enter vaild month")
        else:
            break


    # get user input for day of week (all, monday, tuesday, ... sunday)
    while True:
        day = input("please Choose A day ex:all,monday,tuesday: ")
        if day.lower() not in ('all','sunday','monday','tuesday','wednesday','thursday','friday','saturday'):
            print("please enter vaild day")
        else:
            break

    print('-'*40)
    return city, month, day

In [26]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])
    
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name
    
    if month != 'all':
        months = ['january', 'february', 'march', 'april', 'may', 'june','july','august','september','october','november','december']
        month = months.index(month) + 1

        df = df[df['month'] == month]
    
    
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

In [10]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['month'] = df['Start Time'].dt.month_name()
    common_month = df['month'].mode()[0]
    print("most common month is: ", common_month)
    

    # TO DO: display the most common day of week
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['week'] = df['Start Time'].dt.dayofweek
    common_week = df['week'].mode()[0]
    print("most common week is: ", common_week)

    # TO DO: display the most common start hour
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['hour'] = df['Start Time'].dt.hour
    common_hour = df['hour'].mode()[0]
    print("most common hour is: ", common_hour)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [12]:
df = pd.read_csv('C:/Users/abdel/Downloads/bikeshare-2/chicago.csv')
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [7]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    print("The most commonly used start station is : ")
    x = df['Start Station'].mode()[0]
    print(x)
    

    # TO DO: display most commonly used end station
    print("The most commonly used end station is : ")
    y = df['End Station'].mode()[0]
    print(y)

    # TO DO: display most frequent combination of start station and end station trip
    print("The most frequent combination of start station and end station is : ")
    #z = df[['Start Station','End Station']].mean()[0]
    z = df.groupby(['Start Station','End Station']).size().idxmax()
    print(z)


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [8]:
df = pd.read_csv('C:/Users/abdel/Downloads/bikeshare-2/chicago.csv')
station_stats(df)

Calculating The Most Popular Stations and Trip...

The most commonly used start station is :
Streeter Dr & Grand Ave
The most commonly used end station is :
Streeter Dr & Grand Ave
The most frequent combination of start station and end station is :
('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave')

This took 0.12768769264221191 seconds.
----------------------------------------

In [11]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    print("The Total Travel Time: ")
    x = df['Trip Duration'].sum()
    print(x)
    # TO DO: display mean travel time
    print("Mean Travel Time: ")
    z = df['Trip Duration'].mean()
    print(z)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [12]:
df = pd.read_csv('C:/Users/abdel/Downloads/bikeshare-2/chicago.csv')
trip_duration_stats(df)

Calculating Trip Duration...

The Total Travel Time:
280871787
Mean Travel Time:
936.23929

This took 0.001994609832763672 seconds.
----------------------------------------

In [21]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    print("Counts of User Types: ")
    x = df['User Type'].value_counts()
    print(x)

    # TO DO: Display counts of gender
    print("Counts of Gender: ")
    y = df['Gender'].value_counts()
    print(y)

    # TO DO: Display earliest, most recent, and most common year of birth
    print("earlist year of birth: ")
    earliest_year = df['Birth Year'].min()
    print(earliest_year)
    
    print("most recent year: ")
    most_recent_year = df['Birth Year'].max()
    print(most_recent_year)
    
    print("most common year: ")
    most_common_year = df['Birth Year'].mode()[0]
    print(most_common_year)


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [5]:
df = pd.read_csv('C:/Users/abdel/Downloads/bikeshare-2/washington.csv')

def show_raw_data(df):

    count = 5

    while True:
        answer = input('Would you like to see 5 lines of raw data? Enter yes or no: ')
        
        # Check if response is yes, print the raw data and increment count by 5
        if answer.lower() == "yes":
            for i in range(count-5,count):
                print(df.loc[[i]])
            count += 5
        else:
            break
                

show_raw_data(df)

Would you like to see 5 lines of raw data? Enter yes or no: yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1621326  2017-06-21 08:36:34  2017-06-21 08:44:43        489.066

          Start Station     End Station   User Type
0  14th & Belmont St NW  15th & K St NW  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
1      482740  2017-03-11 10:40:00  2017-03-11 10:46:00        402.549

                Start Station                   End Station   User Type
1  Yuma St & Tenley Circle NW  Connecticut Ave & Yuma St NW  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
2     1330037  2017-05-30 01:02:59  2017-05-30 01:13:37        637.251

                    Start Station    End Station   User Type
2  17th St & Massachusetts Ave NW  5th & K St NW  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
3      665458  2017-04-02 07:48:35  2017-04-02 08:19:03       1827.341

                      Start Station                 End Station User Type
3  Constitution Ave & 2nd St NW/DOL  M St & Pennsylvania Ave NW  Customer
   Unnamed: 0           Start Time             End Time  Trip Duration  \
4     1481135  2017-06-10 08:36:28  2017-06-10 09:02:17       1549.427

                                 Start Station            End Station  \
4  Henry Bacon Dr & Lincoln Memorial Circle NW  Maine Ave & 7th St SW

    User Type
4  Subscriber
Would you like to see 5 lines of raw data? Enter yes or no: yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1148202  2017-05-14 07:18:18  2017-05-14 07:24:56          398.0

   Start Station                                        End Station  \
5  1st & K St SE  Eastern Market Metro / Pennsylvania Ave & 7th ...

    User Type
5  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
6     1594275  2017-06-19 08:41:43  2017-06-19 09:00:08       1105.429

             Start Station    End Station   User Type
6  Park Rd & Holmead Pl NW  8th & H St NW  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
7     1601832  2017-06-20 05:54:42  2017-06-20 06:05:18        636.218

   Start Station                    End Station   User Type
7  1st & D St SE  Potomac & Pennsylvania Ave SE  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
8      574182  2017-03-24 20:37:00  2017-03-24 20:42:00         328.53

    Start Station     End Station   User Type
8  18th & R St NW  15th & P St NW  Subscriber
   Unnamed: 0           Start Time             End Time  Trip Duration  \
9      327058  2017-02-20 21:12:00  2017-02-20 21:31:00        1188.09

           Start Station           End Station   User Type
9  17th & Corcoran St NW  Lynn & 19th St North  Subscriber
Would you like to see 5 lines of raw data? Enter yes or no: no